/venv/
/.idea/.gitignore
/.idea/fogin_site.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.env
/%allure_result_folder%/*
/.idea/fojin_site.iml
*/geckodriver.log
*pytest_cache/
/geckodriver.log
/%allure_result_folder%/
/allure/
/allure_report/
/allure-result/